#img1 {
    width: 149px;
    height: 16px;


    /* grey-5 */

    background: #F1F3F5;
    border-radius: 32px;
}

#img2 {
    width: 267px;
    height: 16px;
    left: 32px;
    top: 261px;

    /* grey-5 */

    background: #F1F3F5;
    border-radius: 32px;
}

#img3 {
    width: 103px;
    height: 16px;


    /* grey-5 */

    background: #F1F3F5;
    border-radius: 32px;
}

#img4 {
    width: 103px;
    height: 16px;


    /* grey-5 */

    background: #F1F3F5;
    border-radius: 32px;
}

#img5 {
    width: 45px;
    height: 16px;
    left: 299px;
    top: 293px;

    /* grey-5 */

    background: #F1F3F5;
    border-radius: 32px;
}