.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.gap{
    gap: 1rem;
}
.gap2{
    gap: 0.5rem;
}
.between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}